* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
    background-color: ghostwhite;
}
h1 {
    font-size: 70px;
}
h2 {
    font-size: 30px;
    font-family:'Times New Roman', Times, serif
}
.sl2 {
    height: 300px;
}
.container {
    position: relative;
    height: 300px;

  }
  
.prvi {
    position: absolute;
    right: 600;
    width: 270px;
    height: 300px;
  } 
  
.drugi {
    position: absolute;
    right: 300px;  
    width: 280px;
    height: 300px;
  }
.treci {
    position: absolute;
    right: 0px;  
    width: 270px;
    height: 320px;
}
footer {
    font-size: 11px;
}